@using EverythingNBA.Services.Models.Team
@model TeamStandingsListingServiceModel

@{
    ViewData["Title"] = $"{ViewBag.Year} Standings";
}

    <div class="container-fluid row my-4 ml-3 mr-5 p-0">
        <div class="col-md-1"></div>
        <table class="standings-table table table-border col-md-5 mr-3">
            <thead class="standings-table-head" style="background-color: #f12222">
                <tr>
                    <th class="p-2 text-center border-right">#</th>
                    <th class="p-2 ">Western Conference</th>
                    <th class="p-2 text-center">W</th>
                    <th class="p-2 text-center">L</th>
                    <th class="p-2 text-center">W%</th>
                    <th class="p-2 text-center">L10</th>
                    <th class="p-2 text-center">GP</th>
                </tr>
            </thead>
            @{
                var westernCounter = 1;
            }
            @foreach (var team in Model.WesternStandings)
            {
                <tr class="border">
                    <th scope="row" class="p-2 border-right text-center">@westernCounter</th>
                    <td class="p-2 ">
                        <a class="standings-team-name p-0 m-0 w-100" asp-controller="Teams" asp-action="TeamDetails" asp-route-teamName="@team.Name">@team.Name</a>
                    </td>
                    <td class="p-2 text-center">@team.Wins</td>
                    <td class="p-2 text-center">@team.Losses</td>
                    <td class="p-2 text-center">@team.WinPercentage</td>
                    <td class="p-2 text-center">@team.LastTenGames</td>
                    <td class="p-2 text-center">@team.GamesPlayed</td>
                </tr>
                westernCounter++;
            }
        </table>



        <table class="standings-table table table-border col-md-5 ml-3">
            <thead class="standings-table-head border-left" style="background-color: #2177fb">
                <tr>
                    <th class="p-2 text-center border-right">#</th>
                    <th class="p-2 ">Eastern Conference</th>
                    <th class="p-2 text-center">W</th>
                    <th class="p-2 text-center">L</th>
                    <th class="p-2 text-center">W%</th>
                    <th class="p-2 text-center">L10</th>
                    <th class="p-2 text-center">GP</th>
                </tr>
            </thead>
            @{
                var easternCounter = 1;
            }
            @foreach (var team in Model.EasternStandings)
            {
                <tr class="border">
                    <th scope="row" class="p-2 border-right text-center">@easternCounter</th>
                    <td class="p-2">
                        <a class="standings-team-name p-0 m-0 w-100" asp-controller="Teams" asp-action="TeamDetails" asp-route-teamName="@team.Name">@team.Name</a>
                    </td>
                    <td class="p-2 text-center">@team.Wins</td>
                    <td class="p-2 text-center">@team.Losses</td>
                    <td class="p-2 text-center">@team.WinPercentage</td>
                    <td class="p-2 text-center">@team.LastTenGames</td>
                    <td class="p-2 text-center">@team.GamesPlayed</td>
                </tr>
                easternCounter++;
            }
        </table>
        <div class="col-md-1"></div>

    </div>

    <div class="container-fluid  justify-content-center" style="display:flex"><a class="btn btn-primary" href="/Playoffs/PlayoffBracket/@ViewBag.Year">Playoff Bracket &nbsp; <i class="fas fa-chevron-right"></i></a></div>

