@using EverythingNBA.Services.Models.Team
@model TeamStandingsListingServiceModel

    <div class="container-fluid row m-3 p-0">
        <table class="standings-table table table-border col-md-6 w-100">
            <thead class="thead-light">
                <tr>
                    <th class="p-0 text-center border-right">#</th>
                    <th class="py-0 pr-0 pl-1 ">Western</th>
                    <th class="p-0 text-center">W</th>
                    <th class="p-0 text-center">L</th>
                    <th class="p-0 text-center">W%</th>
                    <th class="p-0 text-center">L10</th>
                    <th class="p-0 text-center">GP</th>
                </tr>
            </thead>
            @{
                var westernCounter = 1;
            }
            @foreach (var team in Model.WesternStandings)
            {
                <tr class="border">
                    <th scope="row" class="p-0 border-right text-center">@westernCounter</th>
                    <td class="py-0 pr-0 pl-1 ">
                        <a class="team-name p-0 m-0 w-100" asp-controller="Teams" asp-action="TeamDetails" asp-route-teamName="@team.Name">@team.Name</a>
                    </td>
                    <td class="p-0 text-center">@team.Wins</td>
                    <td class="p-0 text-center">@team.Losses</td>
                    <td class="p-0 text-center">@team.WinPercentage</td>
                    <td class="p-0 text-center">@team.LastTenGames</td>
                    <td class="p-0 text-center">@team.GamesPlayed</td>
                </tr>
                westernCounter++;
            }
        </table>

        <table class="standings-table table table-border col-md-6">
            <thead class="thead-light border-left">
                <tr>
                    <th class="p-0 text-center border-right">#</th>
                    <th class="py-0 pr-0 pl-1 ">Eastern</th>
                    <th class="p-0 text-center">W</th>
                    <th class="p-0 text-center">L</th>
                    <th class="p-0 text-center">W%</th>
                    <th class="p-0 text-center">L10</th>
                    <th class="p-0 text-center">GP</th>
                </tr>
            </thead>
            @{ 
                var easternCounter = 1;
            }
            @foreach (var team in Model.EasternStandings)
            {
                <tr class="border">
                    <th scope="row" class="p-0 border-right text-center">@easternCounter</th>
                    <td class="py-0 pr-0 pl-1">@team.Name</td>
                    <td class="p-0 text-center">@team.Wins</td>
                    <td class="p-0 text-center">@team.Losses</td>
                    <td class="p-0 text-center">@team.WinPercentage</td>
                    <td class="p-0 text-center">@team.LastTenGames</td>
                    <td class="p-0 text-center">@team.GamesPlayed</td>
                </tr>
                easternCounter++;
            }
        </table>

        <a asp-controller="Playoffs" asp-action="PlayoffBracket" asp-route-playoffId="@ViewBag.playoffId">Playoff Bracket -></a>
    </div>
