@using EverythingNBA.Services.Models.Game
@model GameDetailsServiceModel

    <div class="border nba-scorebox p-1 m-0 col-md-2 row">
        <div class="col-md-11 p-0">
            <div class="container row px-1 text-center">
                <h4 class="col-md-5 px-1">@Model.TeamHostShortName</h4>
                <h4 class="col-md-2 m-0 p-0">-</h4>
                <h4 class="col-md-5 px-1">@Model.Team2ShortName</h4>
            </div>

            <div class="container-fluid row px-1 text-center">
                @if (Model.Team2Points < Model.TeamHostPoints)
                {
                    <h4 class="col-md-5 px-1 font-weight-bold">@Model.TeamHostPoints</h4>
                    <h4 class="col-md-2 m-0 p-0">-</h4>
                    <h4 class="col-md-5 px-1">@Model.Team2Points</h4>
                }
                else
                {
                    <h4 class="col-md-5 px-1">@Model.TeamHostPoints</h4>
                    <h4 class="col-md-2 m-0 p-0">-</h4>
                    <h4 class="col-md-5 px-1 font-weight-bold">@Model.Team2Points</h4>
                }
            </div>
        </div>

        <a class="col-md-1 p-0" asp-controller="Games" asp-action="GameDetails" asp-route-gameId="@Model.Id">G</a>
    </div>
