@using EverythingNBA.Web.Models.Games
@model  GameDetailsViewModel

    <div class="container-fluid mt-0">
        <div class="row">
            <div class="col-md-2" style="border-bottom: 2px solid black"></div>
            <div class="container-fluid game-title text-center pt-2 mx-0 px-0 col-md-8">@Model.TeamHostName &#160; : &#160; @Model.Team2Name</div>
            <div class="pl-3 pt-1 col-md-2 flex-row-reverse" style="border-bottom: 2px solid black">
                <a class="p-1 m-0 btn btn-secondary game-link text-center"
                   href="/Games/HeadToHead/@Model.TeamHostName&@Model.Team2Name"
                   role="button">HeadToHead</a>
                <a href="/Games/EditGame/@Model.Id"><i class="p-1 fas fa-pen-square fa-2x"></i></a>
                <a href="/Games/Delete/@Model.Id"><i class="p-1 fas fa-trash-alt fa-2x"></i></a>
            </div>
        </div>
        <div class="row game-details my-1">
            <div class="col-md-2 text-center py-2 ">@Model.TeamHostSeasonStatistic</div>
            <div class="col-md-8 text-center game-score py-2" style="font-size: 28px; border: 0.5px solid black">@Model.TeamHostPoints &#160; : &#160; @Model.Team2Points</div>
            <div class="col-md-2 text-center py-2">@Model.Team2SeasonStatistic</div>
            <div class="row w-100 game-info">
                <div class="col-md-6 text-center py-1 px-5 text-left w-100">@Model.Date</div>
                <div class="col-md-6 text-center py-1 px-5 text-right w-100" style="border-left: 0.5px solid black">@Model.Venue</div>
            </div>
        </div>
        
    </div>
    <div class="container-fluid row m-3">
        @await Html.PartialAsync("_GameStatisticsPartial", Model)
    </div>