@using EverythingNBA.Web.Models.Games
@model GameDetailsViewModel

@{
    var team1 = Model.TeamHostName.Split(" ").Last();
    var team2 = Model.Team2Name.Split(" ").Last();
    ViewData["Title"] = $"{team1} - {team2}";
    var message = TempData["Message"] as string;
    var type = TempData["Type"] as string;
    
}

@if (message != null)
{
    @await Html.PartialAsync("/Views/Shared/_SuccessBoxPartial.cshtml", message);
}

<div class="container-fluid mt-0">
    <div class="row">
        <div class="col-md-2" style="border-bottom: 2px solid black"></div>
        <div class="container-fluid game-title text-center pt-2 mx-0 px-0 col-md-8">
        <a class="team-link" href="/Teams/TeamDetails/@Model.TeamHostName">@Model.TeamHostName</a> 
            &#160; : &#160; 
        <a class="team-link" href="/Teams/TeamDetails/@Model.Team2Name">@Model.Team2Name</a></div>
        <div class="pl-3 pr-4 pt-1 col-md-2 flex-row-reverse" style="border-bottom: 2px solid black">
            <a class="float-right p-1 mb-3 mt-1 ml-3 btn btn-secondary game-link text-center"
               href="/Games/HeadToHead/@Model.TeamHostName&@Model.Team2Name"
               role="button">HeadToHead</a>
           
            @if (User.Identity.IsAuthenticated)
            {
                <a href="/Games/EditGame/@Model.Id"><i class="p-1 float-right fas fa-pen-square fa-2x"></i></a>
                <a href="/Games/Delete/@Model.Id"><i class="p-1 float-right fas fa-trash-alt fa-2x"></i></a>
            }
        </div>
    </div>
    <div class="row game-details my-1">
        <div class="col-md-2 text-center py-2 ">@Model.TeamHostSeasonStatistic</div>
        <div class="col-md-8 text-center game-score py-2" style="font-size: 32px; border: 0.5px solid black">@Model.TeamHostPoints &#160; : &#160; @Model.Team2Points</div>
        <div class="col-md-2 text-center py-2">@Model.Team2SeasonStatistic</div>
        <div class="row w-100 game-info">
            <div class="col-md-6 text-center py-1 px-5 text-left w-100">@Model.Date</div>
            <div class="col-md-6 text-center py-1 px-5 text-right w-100" style="border-left: 0.5px solid black">@Model.Venue</div>
        </div>
    </div>

</div>
<div class="container-fluid row m-3">
    @await Html.PartialAsync("_GameStatisticsPartial", Model)
</div>