@using EverythingNBA.Services.Models.Playoff
@model GetPlayoffServiceModel

<table class="mx-4 mt-2 playoff-bracket" border="0" cellpadding="0" cellspacing="0" style="margin:1em 2em 1em 1em;">
    <tbody>
        <tr class="bracket-stage-title">
            <td>
                &#160;
            </td>
            <td colspan="3" style="text-align:center;border:1px solid #aaa;">First Round </td>
            <td colspan="2"> </td>
            <td colspan="3" style="text-align:center;border:1px solid #aaa;">Conference Semifinals</td>
            <td colspan="2"></td>
            <td colspan="3" style="text-align:center;border:1px solid #aaa;">Conference Finals</td>
            <td colspan="2"></td>
            <td colspan="3" style="text-align:center;border:1px solid #aaa;">NBA Finals</td>
        </tr>
        <tr>
            <td height="4" width="1">&#160;</td>
            <td width="30">&#160;</td>
            <td width="140">&#160;</td>
            <td width="30"> &#160;</td>
            <td width="5"> &#160;</td>
            <td width="5">&#160;</td>
            <td width="30"> &#160;</td>
            <td width="140"> &#160;</td>
            <td width="30">&#160;</td>
            <td width="5"> &#160; </td>
            <td width="5"> &#160;</td>
            <td width="30">&#160;</td>
            <td width="140"> &#160;</td>
            <td width="30">&#160;</td>
            <td width="5">&#160;</td>
            <td width="5">&#160; </td>
            <td width="30">&#160; </td>
            <td width="140">&#160; </td>
            <td width="30">&#160;</td>
        </tr>
        <tr>
            <td height="1"></td>
            <td style="text-align:center;background-color:#00008b;border:1px solid #006;">
                <span style="color:#ffffff;"><b>E @Model.Series[0].Team1StandingsPosition</b></span>
            </td>
            <td style="border:1px solid #006;padding-left:0.3em;">
                @if (@Model.Series[0].Team1GamesWon > Model.Series[0].Team2GamesWon && (@Model.Series[0].Team1GamesWon != 0 || Model.Series[0].Team2GamesWon != 0))
                {
                    <b><a class="team-name" href="/Teams/TeamDetails/@Model.Series[0].Team1Name">@Model.Series[0].Team1Name</a></b>
                }
                else
                {
                    <a class="team-name" href="/Teams/TeamDetails/@Model.Series[0].Team1Name">@Model.Series[0].Team1Name</a>
                }
            </td>
            <td style="text-align:center;border:1px solid #006;">@Model.Series[0].Team1GamesWon</td>
            <td>&#160;</td>
        </tr>
        <tr>
            <td height="7"></td>
            <td rowspan="2" style="text-align:center;background-color:#00008b;border:1px solid #006;">
                <span style="color:#ffffff;">E @Model.Series[0].Team2StandingsPosition</span>
            </td>
            <td rowspan="2" style="border:1px solid #006;padding-left:0.3em;">
                @if (@Model.Series[0].Team2GamesWon > Model.Series[0].Team1GamesWon && (@Model.Series[0].Team1GamesWon != 0 || Model.Series[0].Team2GamesWon != 0))
                {
                    <b><a class="team-name" href="/Teams/TeamDetails/@Model.Series[0].Team2Name">@Model.Series[0].Team2Name</a></b>
                }
                else
                {
                    <a class="team-name" href="/Teams/TeamDetails/@Model.Series[0].Team2Name">@Model.Series[0].Team2Name</a>
                }
            </td>
            <td rowspan="2" style="text-align:center;border:1px solid #006;">@Model.Series[0].Team2GamesWon</td>
            <td rowspan="6">&#160;</td>
        </tr>


        <tr>
            @if (Model.AreQuarterFinalsFinished)
            {
                <td height="7"></td>
                <td rowspan="2"> &#160;</td>
                <td rowspan="2" style="text-align:center;background-color:#00008b;border:1px solid #006;">
                    <span style="color:#ffffff;"><b>E @Model.Series[8].Team1StandingsPosition</b></span>
                </td>
                <td rowspan="2" style="border:1px solid #006;padding-left:0.3em;">
                    @if (@Model.Series[8].Team1GamesWon > Model.Series[8].Team2GamesWon && (@Model.Series[8].Team1GamesWon != 0 || Model.Series[8].Team2GamesWon != 0))
                    {
                        <b><a class="team-name" href="/Teams/TeamDetails/@Model.Series[8].Team1Name">@Model.Series[8].Team1Name</a></b>
                    }
                    else
                    {
                        <a class="team-name" href="/Teams/TeamDetails/@Model.Series[8].Team1Name">@Model.Series[8].Team1Name</a>
                    }
                </td>
                <td rowspan="2" style="text-align:center;border:1px solid #006;">@Model.Series[8].Team1GamesWon</td>
                <td rowspan="12">&#160;</td>
            }
            else
            {
                <td height="7"></td>
                <td rowspan="2">&#160; </td>
                <td rowspan="2" style="text-align:center;background-color:#00008b;border:1px solid #006;">
                    <span style="color:#ffffff;"></span>
                </td>
                <td rowspan="2" style="border:1px solid #006;padding-left:0.3em;"></td>
                <td rowspan="2" style="text-align:center;border:1px solid #006;"></td>
                <td rowspan="12">&#160;</td>
            }
        </tr>
        <tr>
            <td height="7"></td>
            <td rowspan="2" colspan="3" style="text-align:center;"></td>
        </tr>
        <tr>
            @if (Model.AreQuarterFinalsFinished)
            {
                <td height="7"></td>
                <td rowspan="2">&#160; </td>
                <td rowspan="2" style="text-align:center;background-color:#00008b;border:1px solid #006;">
                    <span style="color:#ffffff;">E @Model.Series[8].Team2StandingsPosition</span>
                </td>
                <td rowspan="2" style="border:1px solid #006;padding-left:0.3em;">
                    @if (@Model.Series[8].Team2GamesWon > Model.Series[8].Team1GamesWon && (@Model.Series[8].Team1GamesWon != 0 || Model.Series[8].Team2GamesWon != 0))
                    {
                        <b><a class="team-name" href="/Teams/TeamDetails/@Model.Series[8].Team2Name">@Model.Series[8].Team2Name</a></b>
                    }
                    else
                    {
                        <a class="team-name" href="/Teams/TeamDetails/@Model.Series[8].Team2Name">@Model.Series[8].Team2Name</a>
                    }
                </td>
                <td rowspan="2" style="text-align:center;border:1px solid #006;">@Model.Series[8].Team2GamesWon</td>
                
            }
            else
            {
                <td height="7"></td>
                <td rowspan="2">&#160; </td>
                <td rowspan="2" style="text-align:center;background-color:#00008b;border:1px solid #006;">
                    <span style="color:#ffffff;"></span>
                </td>
                <td rowspan="2" style="border:1px solid #006;padding-left:0.3em;"></td>
                <td rowspan="2" style="text-align:center;border:1px solid #006;"></td>
                
            }
        </tr>


        <tr>
            <td height="7"></td>
            <td rowspan="2" style="text-align:center;background-color:#00008b;border:1px solid #006;">
                <span style="color:#ffffff;"><b>E @Model.Series[1].Team1StandingsPosition</b></span>
            </td>
            <td rowspan="2" style="border:1px solid #006;padding-left:0.3em;">
                @if (@Model.Series[1].Team1GamesWon > Model.Series[1].Team2GamesWon && (@Model.Series[1].Team1GamesWon != 0 || Model.Series[1].Team2GamesWon != 0))
                {
                    <b><a class="team-name" href="/Teams/TeamDetails/@Model.Series[1].Team1Name">@Model.Series[1].Team1Name</a></b>
                }
                else
                {
                    <a class="team-name" href="/Teams/TeamDetails/@Model.Series[1].Team1Name">@Model.Series[1].Team1Name</a>
                }
            </td>
            <td rowspan="2" style="text-align:center;border:1px solid #006;">@Model.Series[1].Team1GamesWon</td>
        </tr>
        <tr>
            <td height="7"></td>
        </tr>
        <tr>
            <td height="7"></td>
            <td rowspan="2" style="text-align:center;background-color:#00008b;border:1px solid #006;">
                <span style="color:#ffffff;">E @Model.Series[1].Team2StandingsPosition</span>
            </td>
            <td rowspan="2" style="border:1px solid #006;padding-left:0.3em;">
                @if (@Model.Series[1].Team2GamesWon > Model.Series[1].Team1GamesWon && (@Model.Series[1].Team1GamesWon != 0 || Model.Series[1].Team2GamesWon != 0))
                {
                    <b><a class="team-name" href="/Teams/TeamDetails/@Model.Series[1].Team2Name">@Model.Series[1].Team2Name</a></b>
                }
                else
                {
                    <a class="team-name" href="/Teams/TeamDetails/@Model.Series[1].Team2Name">@Model.Series[1].Team2Name</a>
                }
            </td>
            <td rowspan="2" style="text-align:center;border:1px solid #006">@Model.Series[1].Team2GamesWon</td>
            <td rowspan="2">&#160;</td>
        </tr>


        <tr>
            @if (Model.AreSemiFinalsFinished)
            {
                <td height="7"></td>
                <td colspan="5"></td>
                <td rowspan="2">&#160;</td>
                <td rowspan="2" style="text-align:center;background-color:#00008b;border:1px solid #006;">
                    <span style="color:#ffffff;">E @Model.Series[12].Team1StandingsPosition</span>
                </td>
                <td rowspan="2" style="border:1px solid #006;padding-left:0.3em;">
                    @if (@Model.Series[12].Team1GamesWon > Model.Series[12].Team2GamesWon && (@Model.Series[12].Team1GamesWon != 0 || Model.Series[12].Team2GamesWon != 0))
                    {
                        <b><a class="team-name" href="/Teams/TeamDetails/@Model.Series[12].Team1Name">@Model.Series[12].Team1Name</a></b>
                    }
                    else
                    {
                        <a class="team-name" href="/Teams/TeamDetails/@Model.Series[12].Team1Name">@Model.Series[12].Team1Name</a>
                    }
                </td>
                <td rowspan="2" style="text-align:center;border:1px solid #006;">@Model.Series[12].Team1GamesWon</td>
                <td rowspan="2">&#160;</td>
            }
            else
            {
                <td height="7"></td>
                <td colspan="5"></td>
                <td rowspan="2">&#160;</td>
                <td rowspan="2" style="text-align:center;background-color:#00008b;border:1px solid #006;">
                    <span style="color:#ffffff;"></span>
                </td>
                <td rowspan="2" style="border:1px solid #006;padding-left:0.3em;">
                </td>
                <td rowspan="2" style="text-align:center;border:1px solid #006;"></td>
                <td rowspan="2">&#160;</td>
            }
        </tr>
        <tr>
            <td height="7"></td>
            <td rowspan="2" colspan="8" style="text-align:center;"><b>Eastern Conference</b> </td>
        </tr>
        <tr>
            @if (Model.AreSemiFinalsFinished)
            {
                <td height="7"> </td>
                <td rowspan="2"> &#160; </td>
                <td rowspan="2" style="text-align:center;background-color:#00008b;border:1px solid #006;">
                    <span style="color:#ffffff;"><b>E @Model.Series[12].Team2StandingsPosition</b></span>
                </td>
                <td rowspan="2" style="border:1px solid #006;padding-left:0.3em;">
                    @if (@Model.Series[12].Team2GamesWon > Model.Series[12].Team1GamesWon && (@Model.Series[12].Team1GamesWon != 0 || Model.Series[12].Team2GamesWon != 0))
                    {
                        <b><a class="team-name" href="/Teams/TeamDetails/@Model.Series[12].Team2Name">@Model.Series[12].Team2Name</a></b>
                    }
                    else
                    {
                        <a class="team-name" href="/Teams/TeamDetails/@Model.Series[12].Team2Name">@Model.Series[12].Team2Name</a>
                    }
                </td>
                <td rowspan="2" style="text-align:center;border:1px solid #006;">@Model.Series[12].Team2GamesWon</td>
                <td rowspan="24">&#160;</td>
            }
            else
            {

                <td height="7"> </td>
                <td rowspan="2"> &#160; </td>
                <td rowspan="2" style="text-align:center;background-color:#00008b;border:1px solid #006;">
                    <span style="color:#ffffff;"><b></b></span>
                </td>
                <td rowspan="2" style="border:1px solid #006;padding-left:0.3em;">
                </td>
                <td rowspan="2" style="text-align:center;border:1px solid #006;"></td>
                <td rowspan="24">&#160;</td>
            }
        </tr>


        <tr>
            <td height="7"></td>
            <td rowspan="2" style="text-align:center;background-color:#00008b;border:1px solid #006;">
                <span style="color:#ffffff;"><b>E @Model.Series[2].Team1StandingsPosition</b></span>
            </td>
            <td rowspan="2" style="border:1px solid #006;padding-left:0.3em;">
                @if (@Model.Series[2].Team1GamesWon > Model.Series[2].Team2GamesWon && (@Model.Series[2].Team1GamesWon != 0 || Model.Series[2].Team2GamesWon != 0))
                {
                    <b><a class="team-name" href="/Teams/TeamDetails/@Model.Series[2].Team1Name">@Model.Series[2].Team1Name</a></b>
                }
                else
                {
                    <a class="team-name" href="/Teams/TeamDetails/@Model.Series[2].Team1Name">@Model.Series[2].Team1Name</a>
                }
            </td>
            <td rowspan="2" style="text-align:center;border:1px solid #006;">@Model.Series[2].Team1GamesWon</td>
            <td rowspan="2">&#160;</td>
        </tr>
        <tr>
            <td height="7"></td>
        </tr>
        <tr>
            <td height="7"></td>
            <td rowspan="2" style="text-align:center;background-color:#00008b;border:1px solid #006;">
                <span style="color:#ffffff;">E @Model.Series[2].Team2StandingsPosition</span>
            </td>
            <td rowspan="2" style="border:1px solid #006;padding-left:0.3em;">
                @if (@Model.Series[2].Team2GamesWon > Model.Series[2].Team1GamesWon && (@Model.Series[2].Team1GamesWon != 0 || Model.Series[2].Team2GamesWon != 0))
                {
                    <b><a class="team-name" href="/Teams/TeamDetails/@Model.Series[2].Team2Name">@Model.Series[2].Team2Name</a></b>
                }
                else
                {
                    <a class="team-name" href="/Teams/TeamDetails/@Model.Series[2].Team2Name">@Model.Series[2].Team2Name</a>
                }
            </td>
            <td rowspan="2" style="text-align:center;border:1px solid #006;">@Model.Series[2].Team2GamesWon</td>
            <td rowspan="6">&#160;</td>
        </tr>


        <tr>
            @if (Model.AreQuarterFinalsFinished)
            {
                <td height="7"></td>
                <td rowspan="2"> &#160; </td>
                <td rowspan="2" style="text-align:center;background-color:#00008b;border:1px solid #006;">
                    <span style="color:#ffffff;">E @Model.Series[9].Team1StandingsPosition</span>
                </td>
                <td rowspan="2" style="border:1px solid #006;padding-left:0.3em;">
                    @if (@Model.Series[9].Team1GamesWon > Model.Series[9].Team2GamesWon && (@Model.Series[9].Team1GamesWon != 0 || Model.Series[9].Team2GamesWon != 0))
                    {
                        <b><a class="team-name" href="/Teams/TeamDetails/@Model.Series[9].Team1Name">@Model.Series[9].Team1Name</a></b>
                    }
                    else
                    {
                        <a class="team-name" href="/Teams/TeamDetails/@Model.Series[9].Team1Name">@Model.Series[9].Team1Name</a>
                    }
                </td>
                <td rowspan="2" style="text-align:center;border:1px solid #006;">@Model.Series[9].Team1GamesWon</td>
            }
            else
            {
                <td height="7"></td>
                <td rowspan="2"> &#160; </td>
                <td rowspan="2" style="text-align:center;background-color:#00008b;border:1px solid #006;">
                    <span style="color:#ffffff;"></span>
                </td>
                <td rowspan="2" style="border:1px solid #006;padding-left:0.3em;"></td>
                <td rowspan="2" style="text-align:center;border:1px solid #006;"></td>
            }
        </tr>
        <tr>
            <td height="7"> </td>
            <td rowspan="2" colspan="3" style="text-align:center;"></td>
        </tr>
        <tr>
            @if (Model.AreQuarterFinalsFinished)
            {
                <td height="7"></td>
                <td rowspan="2">&#160;</td>
                <td rowspan="2" style="text-align:center;background-color:#00008b;border:1px solid #006;">
                    <span style="color:#ffffff;"><b>E @Model.Series[9].Team2StandingsPosition</b></span>
                </td>
                <td rowspan="2" style="border:1px solid #006;padding-left:0.3em;">
                    @if (@Model.Series[9].Team2GamesWon > Model.Series[9].Team1GamesWon && (@Model.Series[9].Team1GamesWon != 0 || Model.Series[9].Team2GamesWon != 0))
                    {
                        <b><a class="team-name" href="/Teams/TeamDetails/@Model.Series[9].Team2Name">@Model.Series[9].Team2Name</a></b>
                    }
                    else
                    {
                        <a class="team-name" href="/Teams/TeamDetails/@Model.Series[9].Team2Name">@Model.Series[9].Team2Name</a>
                    }
                </td>
                <td rowspan="2" style="text-align:center;border:1px solid #006;">@Model.Series[10].Team2GamesWon</td>
                <td rowspan="12"> &#160;</td>
            }
            else
            {
                <td height="7"></td>
                <td rowspan="2"> &#160; </td>
                <td rowspan="2" style="text-align:center;background-color:#00008b;border:1px solid #006;">
                    <span style="color:#ffffff;"></span>
                </td>
                <td rowspan="2" style="border:1px solid #006;padding-left:0.3em;"></td>
                <td rowspan="2" style="text-align:center;border:1px solid #006;"></td>
            }
        </tr>


        <tr>
            <td height="7"> </td>
            <td rowspan="2" style="text-align:center;background-color:#00008b;border:1px solid #006;">
                <span style="color:#ffffff;"><b>E @Model.Series[3].Team1StandingsPosition</b></span>
            </td>
            <td rowspan="2" style="border:1px solid #006;padding-left:0.3em;">
                @if (@Model.Series[3].Team1GamesWon > Model.Series[3].Team2GamesWon && (@Model.Series[3].Team1GamesWon != 0 || Model.Series[3].Team2GamesWon != 0))
                {
                    <b><a class="team-name" href="/Teams/TeamDetails/@Model.Series[3].Team1Name">@Model.Series[3].Team1Name</a></b>
                }
                else
                {
                    <a class="team-name" href="/Teams/TeamDetails/@Model.Series[3].Team1Name">@Model.Series[3].Team1Name</a>
                }
            </td>
            <td rowspan="2" style="text-align:center;border:1px solid #006;">@Model.Series[3].Team1GamesWon</td>
        </tr>
        <tr>
            <td height="7"></td>
        </tr>
        <tr>
            <td height="7"></td>
            <td rowspan="2" style="text-align:center;background-color:#00008b;border:1px solid #006;">
                <span style="color:#ffffff;">E @Model.Series[3].Team2StandingsPosition</span>
            </td>
            <td rowspan="2" style="border:1px solid #006;padding-left:0.3em;">
                @if (@Model.Series[3].Team2GamesWon > Model.Series[3].Team1GamesWon && (@Model.Series[3].Team1GamesWon != 0 || Model.Series[3].Team2GamesWon != 0))
                {
                    <b><a class="team-name" href="/Teams/TeamDetails/@Model.Series[3].Team2Name">@Model.Series[3].Team2Name</a></b>
                }
                else
                {
                    <a class="team-name" href="/Teams/TeamDetails/@Model.Series[3].Team2Name">@Model.Series[3].Team2Name</a>
                }
            </td>
            <td rowspan="2" style="text-align:center;border:1px solid #006;">@Model.Series[3].Team2GamesWon</td>
            <td rowspan="2">&#160; </td>
        </tr>


        <tr>
            @if (Model.AreConferenceFinalsFinished)
            {
                <td height="7"> </td>
                <td colspan="10"></td>
                <td rowspan="2"> &#160; </td>
                <td rowspan="2" style="text-align:center;background-color:#00008b;border:1px solid #006;">
                    <span style="color:#ffffff;"><b>E @Model.Series[14].Team1StandingsPosition</b></span>
                </td>
                <td rowspan="2" style="border:1px solid #006;padding-left:0.3em;">
                    @if (@Model.Series[14].Team1GamesWon > Model.Series[14].Team2GamesWon && (@Model.Series[14].Team1GamesWon != 0 || Model.Series[14].Team2GamesWon != 0))
                    {
                        <b><a class="team-name" href="/Teams/TeamDetails/@Model.Series[14].Team1Name">@Model.Series[14].Team1Name</a></b>
                    }
                    else
                    {
                        <a class="team-name" href="/Teams/TeamDetails/@Model.Series[14].Team1Name">@Model.Series[14].Team1Name</a>
                    }
                </td>
                <td rowspan="2" style="text-align:center;border:1px solid #006;">@Model.Series[14].Team1GamesWon</td>
            }
            else
            {
                <td height="7"> </td>
                <td colspan="10"></td>
                <td rowspan="2"> &#160; </td>
                <td rowspan="2" style="text-align:center;background-color:#00008b;border:1px solid #006;">
                    <span style="color:#ffffff;"><b> </b></span>
                </td>
                <td rowspan="2" style="border:1px solid #006;padding-left:0.3em;"> </td>
                <td rowspan="2" style="text-align:center;border:1px solid #006;"></td>
            }
        </tr>

        <tr>
            <td rowspan="2"></td>
            <td height="7"></td>
            <td rowspan="2" colspan="12" style="text-align:center;"></td>
        </tr>

        <tr>
            @if (Model.AreConferenceFinalsFinished)
            {
                <td height="7"></td>
                <td rowspan="2">&#160;</td>
                <td rowspan="2" style="text-align:center;background-color:#8b0000;border:1px solid #600;">
                    <span style="color:#ffffff;">W @Model.Series[14].Team2StandingsPosition</span>
                </td>
                <td rowspan="2" style="border:1px solid #600;padding-left:0.3em">
                    @if (@Model.Series[14].Team2GamesWon > Model.Series[14].Team1GamesWon && (@Model.Series[15].Team1GamesWon != 0 || Model.Series[15].Team2GamesWon != 0))
                    {
                        <b><a class="team-name" href="/Teams/TeamDetails/@Model.Series[14].Team2Name">@Model.Series[14].Team2Name</a></b>
                    }
                    else
                    {
                        <a class="team-name" href="/Teams/TeamDetails/@Model.Series[14].Team2Name">@Model.Series[14].Team2Name</a>
                    }
                </td>
                <td rowspan="2" style="text-align:center;border:1px solid #600;">@Model.Series[14].Team2GamesWon</td>
            }
            else
            {
                <td height="7"></td>
                <td rowspan="2">&#160;</td>
                <td rowspan="2" style="text-align:center;background-color:#8b0000;border:1px solid #600;">
                    <span style="color:#ffffff;"></span>
                </td>
                <td rowspan="2" style="border:1px solid red;padding-left:0.3em;">
                    
                </td>
                <td rowspan="2" style="text-align:center;border:1px solid #600;"></td>
            }
        </tr>


        <tr>
            <td height="7"></td>
            <td rowspan="2" style="text-align:center;background-color:#8b0000;border:1px solid #600;">
                <span style="color:#ffffff;"><b>W @Model.Series[4].Team1StandingsPosition</b></span>
            </td>
            <td rowspan="2" style="border:1px solid #600;padding-left:0.3em">
                @if (@Model.Series[4].Team1GamesWon > Model.Series[4].Team2GamesWon && (@Model.Series[4].Team1GamesWon != 0 || Model.Series[4].Team2GamesWon != 0))
                {
                    <b><a class="team-name" href="/Teams/TeamDetails/@Model.Series[4].Team1Name">@Model.Series[4].Team1Name</a></b>
                }
                else
                {
                    <a class="team-name" href="/Teams/TeamDetails/@Model.Series[4].Team1Name">@Model.Series[4].Team1Name</a>
                }
            </td>
            <td rowspan="2" style="text-align:center;border:1px solid #600;">@Model.Series[4].Team1GamesWon</td>
            <td rowspan="2">&#160;</td>
        </tr>
        <tr>
            <td height="7"></td>
        </tr>
        <tr>
            <td height="7"></td>
            <td rowspan="2" style="text-align:center;background-color:#8b0000;border:1px solid #600;">
                <span style="color:#ffffff;">W @Model.Series[4].Team2StandingsPosition</span>
            </td>
            <td rowspan="2" style="border:1px solid #600;padding-left:0.3em">
                @if (@Model.Series[4].Team2GamesWon > Model.Series[4].Team1GamesWon && (@Model.Series[4].Team1GamesWon != 0 || Model.Series[4].Team2GamesWon != 0))
                {
                    <b><a class="team-name" href="/Teams/TeamDetails/@Model.Series[4].Team2Name">@Model.Series[4].Team2Name</a></b>
                }
                else
                {
                    <a class="team-name" href="/Teams/TeamDetails/@Model.Series[4].Team2Name">@Model.Series[4].Team2Name</a>
                }
            </td>
            <td rowspan="2" style="text-align:center;border:1px solid #600;">@Model.Series[4].Team2GamesWon</td>
            <td rowspan="6">&#160;</td>
        </tr>
        <tr>
            @if (Model.AreQuarterFinalsFinished)
            {
                <td height="7"></td>
                <td rowspan="2">&#160; </td>
                <td rowspan="2" style="text-align:center;background-color:#8b0000;border:1px solid #600;">
                    <span style="color:#ffffff;"><b>W @Model.Series[10].Team1StandingsPosition</b></span>
                </td>
                <td rowspan="2" style="border:1px solid #600;padding-left:0.3em">
                    @if (@Model.Series[10].Team1GamesWon > Model.Series[10].Team2GamesWon && (@Model.Series[10].Team1GamesWon != 0 || Model.Series[10].Team2GamesWon != 0))
                    {
                        <b><a class="team-name" href="/Teams/TeamDetails/@Model.Series[10].Team1Name">@Model.Series[10].Team1Name</a></b>
                    }
                    else
                    {
                        <a class="team-name" href="/Teams/TeamDetails/@Model.Series[10].Team1Name">@Model.Series[10].Team1Name</a>
                    }
                </td>
                <td rowspan="2" style="text-align:center;border:1px solid #600;">@Model.Series[10].Team1GamesWon</td>
            }
            else
            {
                <td height="7"></td>
                <td rowspan="2">&#160; </td>
                <td rowspan="2" style="text-align:center;background-color:#8b0000;border:1px solid #600;">
                    <span style="color:#ffffff;"><b></b></span>
                </td>
                <td rowspan="2" style="border:1px solid #600;padding-left:0.3em">
                </td>
                <td rowspan="2" style="text-align:center;border:1px solid #600;"><b></b></td>
            }
        </tr>
        <tr>
            <td height="7"></td>
            <td rowspan="2" colspan="3" style="text-align:center;"></td>
        </tr>
        <tr>
            @if (Model.AreQuarterFinalsFinished)
            {
                <td height="7"></td>
                <td rowspan="2"> &#160;</td>
                <td rowspan="2" style="text-align:center;background-color:#8b0000;border:1px solid #600;">
                    <span style="color:#ffffff;">W @Model.Series[10].Team2StandingsPosition</span>
                </td>
                <td rowspan="2" style="border:1px solid #600;padding-left:0.3em">
                    @if (@Model.Series[10].Team2GamesWon > Model.Series[10].Team1GamesWon && (@Model.Series[10].Team1GamesWon != 0 || Model.Series[10].Team2GamesWon != 0))
                    {
                        <b><a class="team-name" href="/Teams/TeamDetails/@Model.Series[10].Team2Name">@Model.Series[10].Team2Name</a></b>
                    }
                    else
                    {
                        <a class="team-name" href="/Teams/TeamDetails/@Model.Series[10].Team2Name">@Model.Series[10].Team2Name</a>
                    }
                </td>
                <td rowspan="2" style="text-align:center;border:1px solid #600;">@Model.Series[10].Team2GamesWon</td>
                <td rowspan="12">&#160;</td>
            }
            else
            {
                <td height="7"></td>
                <td rowspan="2">&#160; </td>
                <td rowspan="2" style="text-align:center;background-color:#8b0000;border:1px solid #600;">
                    <span style="color:#ffffff;"><b></b></span>
                </td>
                <td rowspan="2" style="border:1px solid #600;padding-left:0.3em">
                </td>
                <td rowspan="2" style="text-align:center;border:1px solid #600;"><b></b></td>
                <td rowspan="12">&#160;</td>
            }
        </tr>


        <tr>
            <td height="7"></td>
            <td rowspan="2" style="text-align:center;background-color:#8b0000;border:1px solid #600;">
                <span style="color:#ffffff;"><b>W @Model.Series[5].Team1StandingsPosition</b></span>
            </td>
            <td rowspan="2" style="border:1px solid #600;padding-left:0.3em">
                @if (@Model.Series[5].Team1GamesWon > Model.Series[5].Team2GamesWon && (@Model.Series[5].Team1GamesWon != 0 || Model.Series[5].Team2GamesWon != 0))
                {
                    <b><a class="team-name" href="/Teams/TeamDetails/@Model.Series[5].Team1Name">@Model.Series[5].Team1Name</a></b>
                }
                else
                {
                    <a class="team-name" href="/Teams/TeamDetails/@Model.Series[5].Team1Name">@Model.Series[5].Team1Name</a>
                }
            </td>
            <td rowspan="2" style="text-align:center;border:1px solid #600;">@Model.Series[5].Team1GamesWon</td>
        </tr>
        <tr>
            <td height="7"></td>
        </tr>
        <tr>
            <td height="7"></td>
            <td rowspan="2" style="text-align:center;background-color:#8b0000;border:1px solid #600;">
                <span style="color:#ffffff;">W @Model.Series[5].Team2StandingsPosition</span>
            </td>
            <td rowspan="2" style="border:1px solid #600;padding-left:0.3em">
                @if (@Model.Series[5].Team2GamesWon > Model.Series[5].Team1GamesWon && (@Model.Series[5].Team1GamesWon != 0 || Model.Series[5].Team2GamesWon != 0))
                {
                    <b><a class="team-name" href="/Teams/TeamDetails/@Model.Series[5].Team2Name">@Model.Series[5].Team2Name</a></b>
                }
                else
                {
                    <a class="team-name" href="/Teams/TeamDetails/@Model.Series[5].Team2Name">@Model.Series[5].Team2Name</a>
                }
            </td>
            <td rowspan="2" style="text-align:center;border:1px solid #600;">@Model.Series[5].Team2GamesWon</td>
            <td rowspan="2"> &#160;</td>
        </tr>


        <tr>
            @if (Model.AreSemiFinalsFinished)
            {
                <td height="7"> </td>
                <td colspan="5"></td>
                <td rowspan="2"> &#160; </td>
                <td rowspan="2" style="text-align:center;background-color:#8b0000;border:1px solid #600;">
                    <span style="color:#ffffff;"><b>W @Model.Series[13].Team1StandingsPosition</b></span>
                </td>
                <td rowspan="2" style="border:1px solid #600;padding-left:0.3em">
                    @if (@Model.Series[13].Team1GamesWon > Model.Series[13].Team2GamesWon && (@Model.Series[13].Team1GamesWon != 0 || Model.Series[13].Team2GamesWon != 0))
                    {
                        <b><a class="team-name" href="/Teams/TeamDetails/@Model.Series[13].Team1Name">@Model.Series[13].Team1Name</a></b>
                    }
                    else
                    {
                        <a class="team-name" href="/Teams/TeamDetails/@Model.Series[13].Team1Name">@Model.Series[13].Team1Name</a>
                    }
                </td>
                <td rowspan="2" style="text-align:center;border:1px solid #600;"> @Model.Series[13].Team1GamesWon</td>
            }
            else
            {
                <td height="7"></td>
                <td colspan="5"></td>
                <td rowspan="2" style="text-align:center;"> &#160;</td>
                <td rowspan="2" style="text-align:center;background-color:#8b0000;border:1px solid #600;">
                    <span style="color:#ffffff;"><b></b></span>
                </td>
                <td rowspan="2" style="border:1px solid #600;padding-left:0.3em"></td>
                <td rowspan="2" style="text-align:center;border:1px solid #600;"><b></b></td>
            }
        </tr>
        <tr>
            <td height="7"></td>
            <td rowspan="2" colspan="8" style="text-align:center;"><b>Western Conference</b></td>
        </tr>

        <tr>
            @if (Model.AreSemiFinalsFinished)
            {
                <td height="7"></td>
                <td rowspan="2">&#160; </td>
                <td rowspan="2" style="text-align:center;background-color:#8b0000;border:1px solid #600;">
                    <span style="color:#ffffff;">W @Model.Series[13].Team2StandingsPosition</span>
                </td>
                <td rowspan="2" style="border:1px solid #600;padding-left:0.3em">
                    @if (@Model.Series[13].Team2GamesWon > Model.Series[13].Team1GamesWon && (@Model.Series[13].Team1GamesWon != 0 || Model.Series[13].Team2GamesWon != 0))
                    {
                        <b><a class="team-name" href="/Teams/TeamDetails/@Model.Series[13].Team2Name">@Model.Series[13].Team2Name</a></b>
                    }
                    else
                    {
                        <a class="team-name" href="/Teams/TeamDetails/@Model.Series[13].Team2Name">@Model.Series[13].Team2Name</a>
                    }
                </td>
                <td rowspan="2" style="text-align:center;border:1px solid #600;">@Model.Series[13].Team2GamesWon</td>
                <td rowspan="2"> &#160; </td>
            }
            else
            {
                <td height="7"></td>
                <td rowspan="2" style="text-align:center;"> &#160;</td>
                <td rowspan="2" style="text-align:center;background-color:#8b0000;border:1px solid #600;">
                    <span style="color:#ffffff;"></span>
                </td>
                <td rowspan="2" style="border:1px solid #600;padding-left:0.3em">
                    
                </td>
                <td rowspan="2" style="text-align:center;border:1px solid #600;"></td>
                <td rowspan="2" style="text-align:center;">&#160;</td>
            }
        </tr>


        <tr>
            <td height="7"></td>
            <td rowspan="2" style="text-align:center;background-color:#8b0000;border:1px solid #600;">
                <span style="color:#ffffff;"><b>W @Model.Series[6].Team1StandingsPosition</b></span>
            </td>
            <td rowspan="2" style="border:1px solid #600;padding-left:0.3em">
                @if (@Model.Series[6].Team1GamesWon > Model.Series[6].Team2GamesWon && (@Model.Series[6].Team1GamesWon != 0 || Model.Series[6].Team2GamesWon != 0))
                {
                    <b><a class="team-name" href="/Teams/TeamDetails/@Model.Series[6].Team1Name">@Model.Series[6].Team1Name</a></b>
                }
                else
                {
                    <a class="team-name" href="/Teams/TeamDetails/@Model.Series[6].Team1Name">@Model.Series[6].Team1Name</a>
                }
            </td>
            <td rowspan="2" style="text-align:center;border:1px solid #600;">@Model.Series[6].Team1GamesWon</td>
            <td rowspan="2"> &#160; </td>
        </tr>
        <tr>
            <td height="7"></td>
        </tr>
        <tr>
            <td height="7"></td>
            <td rowspan="2" style="text-align:center;background-color:#8b0000;border:1px solid #600;">
                <span style="color:#ffffff;">W @Model.Series[6].Team2StandingsPosition</span>
            </td>
            <td rowspan="2" style="border:1px solid #600;padding-left:0.3em">
                @if (@Model.Series[6].Team2GamesWon > Model.Series[6].Team1GamesWon && (@Model.Series[6].Team1GamesWon != 0 || Model.Series[6].Team2GamesWon != 0))
                {
                    <b><a class="team-name" href="/Teams/TeamDetails/@Model.Series[6].Team2Name">@Model.Series[6].Team2Name</a></b>
                }
                else
                {
                    <a class="team-name" href="/Teams/TeamDetails/@Model.Series[6].Team2Name">@Model.Series[6].Team2Name</a>
                }
            </td>
            <td rowspan="2" style="text-align:center;border:1px solid #600;">@Model.Series[6].Team2GamesWon</td>
            <td rowspan="6">&#160;</td>
        </tr>


        <tr>
            @if (Model.AreQuarterFinalsFinished)
            {
                <td height="7"></td>
                <td rowspan="2"> &#160;</td>
                <td rowspan="2" style="text-align:center;background-color:#8b0000;border:1px solid #600;">
                    <span style="color:#ffffff;"><b>W @Model.Series[11].Team1StandingsPosition</b></span>
                </td>
                <td rowspan="2" style="border:1px solid #600;padding-left:0.3em">
                    @if (@Model.Series[11].Team1GamesWon > Model.Series[11].Team2GamesWon && (@Model.Series[11].Team1GamesWon != 0 || Model.Series[11].Team2GamesWon != 0))
                    {
                        <b><a class="team-name" href="/Teams/TeamDetails/@Model.Series[11].Team1Name">@Model.Series[11].Team1Name</a></b>
                    }
                    else
                    {
                        <a class="team-name" href="/Teams/TeamDetails/@Model.Series[11].Team1Name">@Model.Series[11].Team1Name</a>
                    }
                </td>
                <td rowspan="2" style="text-align:center;border:1px solid #600;"> @Model.Series[11].Team1GamesWon</td>
            }
            else
            {
                <td height="7"></td>
                <td rowspan="2"> &#160;</td>
                <td rowspan="2" style="text-align:center;background-color:#8b0000;border:1px solid #600;">
                    <span style="color:#ffffff;"><b></b></span>
                </td>
                <td rowspan="2" style="border:1px solid #600;padding-left:0.3em">
                </td>
                <td rowspan="2" style="text-align:center;border:1px solid #600;"> </td>
            }
        </tr>
        <tr>
            <td height="7"></td>
            <td rowspan="2" colspan="3" style="text-align:center;"></td>
        </tr>
        <tr>
            @if (Model.AreQuarterFinalsFinished)
            {
                <td height="7"></td>
                <td rowspan="2"> &#160; </td>
                <td rowspan="2" style="text-align:center;background-color:#8b0000;border:1px solid #600;">
                    <span style="color:#ffffff;">W @Model.Series[11].Team2StandingsPosition</span>
                </td>
                <td rowspan="2" style="border:1px solid #600;padding-left:0.3em">
                    @if (@Model.Series[11].Team2GamesWon > Model.Series[11].Team1GamesWon && (@Model.Series[11].Team1GamesWon != 0 || Model.Series[11].Team2GamesWon != 0))
                    {
                        <b><a class="team-name" href="/Teams/TeamDetails/@Model.Series[11].Team2Name">@Model.Series[11].Team2Name</a></b>
                    }
                    else
                    {
                        <a class="team-name" href="/Teams/TeamDetails/@Model.Series[11].Team2Name">@Model.Series[11].Team2Name</a>
                    }
                </td>
                <td rowspan="2" style="text-align:center;border:1px solid #600;">@Model.Series[11].Team2GamesWon</td>
                <td rowspan="2"> &#160; </td>
            }
            else
            {
                <td height="7"></td>
                <td rowspan="2"> &#160;</td>
                <td rowspan="2" style="text-align:center;background-color:#8b0000;border:1px solid #600;">
                    <span style="color:#ffffff;"><b></b></span>
                </td>
                <td rowspan="2" style="border:1px solid #600;padding-left:0.3em">
                </td>
                <td rowspan="2" style="text-align:center;border:1px solid #600;"> </td>
            }
        </tr>


        <tr>
            <td height="7"></td>
            <td rowspan="2" style="text-align:center;background-color:#8b0000;border:1px solid #600;">
                <span style="color:#ffffff;"><b>W @Model.Series[7].Team1StandingsPosition</b></span>
            </td>
            <td rowspan="2" style="border:1px solid #600;padding-left:0.3em">
                @if (@Model.Series[7].Team1GamesWon > Model.Series[7].Team2GamesWon && (@Model.Series[7].Team1GamesWon != 0 || Model.Series[7].Team2GamesWon != 0))
                {
                    <b><a class="team-name" href="/Teams/TeamDetails/@Model.Series[7].Team1Name">@Model.Series[7].Team1Name</a></b>
                }
                else
                {
                    <a class="team-name" href="/Teams/TeamDetails/@Model.Series[7].Team1Name">@Model.Series[7].Team1Name</a>
                }
            </td>
            <td rowspan="2" style="text-align:center;border:1px solid #600;">@Model.Series[7].Team1GamesWon</td>
        </tr>
        <tr>
            <td height="7"></td>
        </tr>
        <tr>
            <td height="7"></td>
            <td style="text-align:center;background-color:#8b0000;border:1px solid #600;">
                <span style="color:#ffffff;">W @Model.Series[7].Team2StandingsPosition</span>
            </td>
            <td style="border:1px solid #600;padding-left:0.3em">
                @if (@Model.Series[7].Team2GamesWon > Model.Series[7].Team1GamesWon && (@Model.Series[7].Team1GamesWon != 0 || Model.Series[7].Team2GamesWon != 0))
                {
                    <b><a class="team-name" href="/Teams/TeamDetails/@Model.Series[7].Team2Name">@Model.Series[7].Team2Name</a></b>
                }
                else
                {
                    <a class="team-name" href="/Teams/TeamDetails/@Model.Series[7].Team2Name">@Model.Series[7].Team2Name</a>
                }
            </td>
            <td style="text-align:center;border:1px solid #600;">@Model.Series[7].Team2GamesWon</td>
            <td> &#160;</td>
        </tr>
    </tbody>
</table>