@using EverythingNBA.Web.Models.Home
@model IndexViewModel;

@{
    ViewData["Title"] = "Home";
    var message = TempData["Message"] as string;
    var type = TempData["Type"] as string;
}

@if (message != null)
{
    if (type == "Success")
    {
        @await Html.PartialAsync("/Views/Shared/_SuccessBoxPartial.cshtml", message);
    }
    else if (type == "Warning")
    {
        @await Html.PartialAsync("/Views/Shared/_WarningBoxPartial.cshtml", message);
    }
    else
    {
        @await Html.PartialAsync("/Views/Shared/_ErrorBoxPartial.cshtml", message);
    }

}


<div class="container-fluid row m-3">
    <div class="container col-md-9 px-3">
        <div class="section-title pl-4 pt-1">Games Yesterday @DateTime.Now.AddDays(-1).Day/@DateTime.Now.AddDays(-1).Month,  @DateTime.Now.AddDays(-1).DayOfWeek </div>

        <div class="container-fluid row p-0 m-0 mb-3">
            @if (!Model.GamesYesterday.Any())
            {
                <h4 class="ml-4">No Games</h4>
            }
            @foreach (var game in Model.GamesYesterday)
            {
                @await Html.PartialAsync("_HomePageGameBoxPartial", game)
            }
        </div>

        <div class="section-title pl-4 pt-1">Games Today @DateTime.Now.Day/@DateTime.Now.Month, @DateTime.Now.DayOfWeek </div>

        <div class="container-fluid row p-0 m-0 mb-3">
            @if (!Model.GamesToday.Any())
            {
                <h4 class="ml-4">No Games</h4>
            }
            @foreach (var game in Model.GamesToday)
            {
                @await Html.PartialAsync("_HomePageGameBoxPartial", game)
            }
        </div>

        <div class="section-title pl-4 pt-1">Games Tomorrow @DateTime.Now.AddDays(1).Day/@DateTime.Now.AddDays(1).Month, @DateTime.Now.AddDays(1).DayOfWeek </div>

        <div class="container-fluid row p-0 m-0 mb-3">
            @if (!Model.GamesTomorrow.Any())
            {
                <h4 class="ml-4">No Games</h4>
            }
            @foreach (var game in Model.GamesTomorrow)
            {
                @await Html.PartialAsync("_HomePageGameBoxPartial", game)
            }
        </div>
    </div>

    <div class="container-fluid col-md-3 m-0 border-left">
        <h3 class="w-100 p-0 m-0 text-center border-right border-top border-left standings-title">Standings</h3>
        <div class="container-fluid row border p-0 m-0">
            <h4 class="col-md-6 text-center mb-0 pb-1 border-right bg-secondary">Western</h4>
            <h4 class="col-md-6 text-center mb-0 pb-1 bg-primary text-primary">Eastern</h4>
        </div>
        <div class="container-fluid row border p-0 m-0">
            <div class="container-fluid col-md-6 p-0 m-0 row border-right">
                <table class="w-100 p-0 home-team-standings" type="1">
                    @{
                        var westernCounter = 0;
                    }
                    @for (int i = 0; i < Model.WesternTop8Standings.Count(); i++)
                    {
                        westernCounter++;
                        <tr class="border">
                            <td class="border-right">
                                <h3 class="">@westernCounter</h3>
                            </td>
                            <td asp-controller="Teams" asp-action="TeamDetails" asp-route-teamName="@Model.WesternTop8Standings[i].TeamAbbreviation" class="home-team-name">
                                <img class="home-team-logo pr-1" src="@Model.WesternTop8Standings[i].ImageURL" alt="logo" />
                                <a class="team-link" href="/Teams/TeamDetails/@Model.WesternTop8Standings[i].TeamAbbreviation">@Model.WesternTop8Standings[i].TeamAbbreviation</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>

            <div class="container-fluid col-md-6 p-0 m-0 row border-right">
                <table class="w-100 p-0 home-team-standings" type="1">
                    @{
                        var easternCounter = 0;
                    }
                    @for (int i = 0; i < Model.EasternTop8Standings.Count(); i++)
                    {
                        easternCounter++;
                        <tr class="border">
                            <td class="border-right">
                                <h3 class="">@easternCounter</h3>
                            </td>
                            <td asp-controller="Teams" asp-action="TeamDetails" asp-route-teamName="@Model.EasternTop8Standings[i].TeamAbbreviation" class="home-team-name">
                                <img class="home-team-logo pr-1" src="@Model.EasternTop8Standings[i].ImageURL" alt="logo" />
                                <a class="team-link" href="/Teams/TeamDetails/@Model.EasternTop8Standings[i].TeamAbbreviation">@Model.EasternTop8Standings[i].TeamAbbreviation</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>

    </div>
</div>



