@model EverythingNBA.Services.Models.Player.PlayerDetailsServiceModel;

    <div>@Model.FirstName</div>
    <div>@Model.LastName</div>
    <div>@Model.Age</div>
    <div>@Model.CurrentTeam</div>
    <div>@Model.Height</div>
    <div>@Model.Weight</div>
    <div>@Model.ShirtNumber</div>


