@using EverythingNBA.Services.Models.Player
@model PlayerDetailsServiceModel

@{
    ViewData["Title"] = $"{Model.FirstName} {Model.LastName}";
    var message = TempData["Message"] as string;
    var type = TempData["Type"] as string;
    var textColor = "white";
    if (Model.TeamSecondaryColorHex.StartsWith("#f") || Model.TeamSecondaryColorHex.StartsWith("#eee") || Model.TeamSecondaryColorHex.StartsWith("#c1"))
    {
        textColor = "black";
    }
    ViewData["Text"] = textColor;
    ViewData["PrimaryColor"] = Model.TeamPrimaryColorHex;
    ViewData["SecondaryColor"] = Model.TeamSecondaryColorHex;
}

@if (message != null)
{
    if (type == "Success")
    {
        @await Html.PartialAsync("/Views/Shared/_SuccessBoxPartial.cshtml", message);
    }
    else
    {
        @await Html.PartialAsync("/Views/Shared/_ErrorBoxPartial.cshtml", message);
    }

}

<div class="container-fluid row m-3 player-details">
    <div class="col-md-3 h-100 pr-0">
        @await Html.PartialAsync("_PlayerBioPartial", Model)
    </div>
    <div class="col-md-9 px-0 mx-0">
        <div class="container-fluid row px-0 mx-0" style="background-color:@Model.TeamPrimaryColorHex">
            <div class="col-md-5 py-2 player-main-info text-center">
                Name: @Model.FirstName @Model.LastName
            </div>
            <div class="col-md-5 py-2 player-main-info text-center">
                Team: @Model.CurrentTeam
            </div>
            <div class="col-md-2 py-2 player-main-info text-center">
                #@Model.ShirtNumber
            </div>
        </div>
        <div class="container-fluid player-table-container p-0">
            @await Html.PartialAsync("_PlayerStatisticsTablePartial", Model)
        </div>
        <h4 class="m-0 py-3 recent-games-title" style="background: @Model.TeamSecondaryColorHex; color: @textColor">Recent Games</h4>
        <div class="container-fluid row m-0 p-0">
            @foreach (var game in Model.RecentGames)
            {
                @await Html.PartialAsync("_PlayerRecentGamePartial", game, ViewData)
            }
        </div>
        <div class="mt-4 mr-3">
            @if (User.Identity.IsAuthenticated)
            {
                <a href="/Players/Edit/@Model.Id"><i class="p-1 fas fa-pen-square fa-pull-right fa-2x"></i></a>
                <a href="/Player/Delete/@Model.Id"><i class="p-1 fas fa-trash-alt fa-2x fa-pull-right"></i></a>
            }
        </div>
    </div>
</div>