@using EverythingNBA.Services.Models.Game
@model TeamGameOverviewServiceModel

    <div class="col-md-4 container-fluid p-0 m-0 player-game-box">
        <div class="container-fluid row p-0 m-0">
            <div class="col-md-5 p-2 text-center">@Model.TeamHostName</div>
            <div class="col-md-5 p-2 text-center border-right">@Model.Team2Name</div>
            @if (Model.IsHomeGame == true)
            {
                <div class="col-md-2 p-0 text-center" style="font-size: 17px;">Home</div>
            }
            else
            {
                <div class="col-md-2 p-0 text-center" style="font-size: 17px;">Away</div>
            }
        </div>
        <div class="container-fluid row p-0 m-0">
            <div class="col-md-5 p-2 text-center border-bottom ">@Model.TeamHostPoints</div>
            <div class="col-md-5 p-2 text-center border-bottom border-right">@Model.Team2Points</div>
            @if (Model.TeamHostPoints > Model.Team2Points)
            {
                if (Model.IsHomeGame == true)
                {
                    <div class="col-md-2 text-right pr-3" style="color: green; font-weight:500; font-size:24px">W</div>
                }
                else
                {
                    <div class="col-md-2 text-right pr-3" style="color: red; font-weight:500; font-size:24px">L</div>
                }
            }
            else
            {
                if (Model.IsHomeGame == false)
                {
                    <div class="col-md-2 text-right pr-3" style="color: green; font-weight:500; font-size:24px">W</div>
                }                      
                else                   
                {                      
                    <div class="col-md-2 text-right pr-3" style="color: red; font-weight:500; font-size:24px">L</div>
                }
            }
        </div>
        <div class="container-fluid row p-0 m-0">
            <div class="col-md-10 pr-1 text-center">@Model.Date</div>
            <div class="col-md-2 p-0 text-center">
                <a href="/Games/GameDetails/@Model.Id"><i class="fas fa-info-circle"></i></a>
            </div>
        </div>
    </div>