@using EverythingNBA.Services.Models.Team
@model GetTeamDetailsServiceModel

@{
    ViewData["Title"] = $"{Model.Name}";
    var message = TempData["Message"] as string;
    var type = TempData["Type"] as string;
}

@if (message != null)
{
    if (type == "Success")
    {
        @await Html.PartialAsync("/Views/Shared/_SuccessBoxPartial.cshtml", message);
    }
    else
    {
        @await Html.PartialAsync("/Views/Shared/_ErrorBoxPartial.cshtml", message);
    }

}

<div class="container-fluid row m-3">
    <div class="col-md-3 p-0">
        @await Html.PartialAsync("_TeamBioPartial", Model)
    </div>

    <div class="col-md-6 p-0">
        <div class="d-flex justify-content-center container-fluid row px-0 ml-0 text-primary" style="background-color: @Model.PrimaryColorHex;">
            <div class="col-md-2 py-3 border-right text-center team-name">@Model.AbbreviatedName</div>
            <div class="col-md-8 py-2 text-center team-name" style="font-size: 30px">@Model.Name</div>
            <div class="col-md-2 py-3 border-left text-center team-name">@ViewBag.Year</div>
        </div>
        <div class="team-standings">
            @await Html.PartialAsync("_TeamStandingsTablePartial", Model)
        </div>
        <h4 class="w-100 text-center recent-games-title">Recent Games</h4>
        <div class="container-fluid row px-0 ml-0">
            @foreach (var game in Model.Last9Games)
            {
                @await Html.PartialAsync("_TeamRecentGamesPartial", game)
            }

        </div>

        <div class="mt-4 mr-3">
            @if (User.Identity.IsAuthenticated)
            {
                <a href="/Teams/Edit/@Model.Id"><i class="p-1 fas fa-pen-square fa-pull-right fa-2x"></i></a>
            }
        </div>
    </div>

    <div class="col-md-3 p-0 team-player-table">
        <table class="table">
            <thead>
                <tr class="container-fluid">
                    <th class="col-md-8">Players</th>
                    <th class="col-md-2">Age</th>
                    <th class="col-md-2">Pos.</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var player in Model.Players)
                {
                    <tr>
                        <td><a class="w-100 team-player-name" asp-controller="Players" asp-action="PlayerDetails" asp-route-playerName="@player.Name">@player.Name</a></td>
                        <td>@player.Age</td>
                        <td>@player.Position</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

